# Gym-memb (To check active Gym member)
### To generate random dataframe, perform cleaning operation

In [1]:
len('Gender')

6

Getting lenth of string for further use:

## To Generate Text file for active memebers and Ex members

In [2]:
from random import randint as rnd

memReg = 'members1.txt'
exReg = 'inactive1.txt'
fee =('M','F')
act =('yes','no')

# Def genFiles -

def genFiles(current,old):
    with open(current,'w+') as writefile: 
        writefile.write('Membership No  Date Joined  Gender  Active  Age\n')
        data = "{:^13}  {:<11}  {:<6}  {:<6}  {:<3}\n"

        for rowno in range(20):
            date = str(rnd(2020,2021))+ '-' + str(rnd(1,10))+'-'+str(rnd(1,28))
            writefile.write(data.format(rnd(10000,99999),date,fee[rnd(0,1)],act[rnd(0,1)],rnd(20,65)))


    with open(old,'w+') as writefile: 
        writefile.write('Membership No  Date Joined  Gender  Active  Age\n')
        data = "{:^13}  {:<11}  {:<6}  {:<6}  {:<3}\n"
        
        for rowno in range(4):
            date = str(rnd(2020,2021))+ '-' + str(rnd(1,10))+'-'+str(rnd(1,28))
            writefile.write(data.format(rnd(10000,99999),date,fee[rnd(0,1)],act[1],rnd(20,65)))


genFiles(memReg,exReg)

## For Reading Files

readFiles() is going to use multiple time in script

In [3]:
def readFiles(current,old):
    headers = "Membership No  Date Joined  Member  Gender  Age\n"
    with open(memReg,'r') as readFile:
        print("Active Members: \n\n")
        print(readFile.read())

    with open(exReg,'r') as readFile:
        print("Inactive Members: \n\n")
        print(readFile.read())

# Opening Files
readFiles(memReg,exReg)

Active Members:


Membership No  Date Joined  Gender  Active  Age
    94597      2020-8-21    F       yes     61
    47182      2021-2-12    M       no      51
    58993      2020-2-11    M       no      36
    15324      2021-9-1     F       no      45
    80641      2020-5-4     F       yes     47
    74089      2020-9-6     F       yes     60
    49963      2020-7-8     F       yes     64
    61600      2021-7-22    M       no      44
    98056      2021-1-14    M       yes     46
    50223      2021-3-25    F       no      30
    37704      2021-6-16    F       yes     25
    63801      2020-1-2     F       yes     46
    86382      2021-8-13    F       yes     57
    98371      2020-3-23    F       no      52
    43193      2021-4-23    F       yes     40
    18740      2020-6-1     M       no      36
    48615      2020-5-21    M       no      35
    68452      2021-9-10    M       no      46
    94636      2020-6-11    F       no      59
    17135      2021-7-5     M       no      53

Inactive Members:


Membership No  Date Joined  Gender  Active  Age
    86171      2021-2-12    F       no      63
    64886      2020-6-16    M       no      30
    40310      2020-3-4     F       no      21
    37227      2020-5-17    F       no      55

Just checking:

In [4]:
def cleanFiles(currentMem,exMem):
    '''
    currentMem: File containing list of current members
    exMem: File containing list of old members
    
    Removes all rows from currentMem containing 'no' and appends them to exMem
    '''
    
    pass 


# Code to help you see the files
# Leave as is
cleanFiles(memReg,exReg)

In [5]:
## To perform Cleaning operation:

# Original file is going to overwrite after operation.

In [6]:
# Opening Files
readFiles(memReg,exReg)
    
def cleanFiles(currentMem,exMem):
    with open(currentMem,'r+') as writeFile: 
        with open(exMem,'a+') as appendFile:
            #get the data
            writeFile.seek(0)
            members = writeFile.readlines()
            #remove header
            header = members[0]
            members.pop(0)

            inactive = [member for member in members if ('no' in member)]
            '''
            The above is the same as 

            for member in active:
            if 'no' in member:
                inactive.append(member)
            '''
            #go to the beginning of the write file
            writeFile.seek(0) 
            writeFile.write(header)
            for member in members:
                if (member in inactive):
                    appendFile.write(member)
                else:
                    writeFile.write(member)      
            writeFile.truncate()


            
print("Performing Cleaning Operation:" + 25*'_' + '\n\n')
cleanFiles(memReg,exReg)

# function to Read files
readFiles(memReg,exReg)

Active Members:


Membership No  Date Joined  Gender  Active  Age
    94597      2020-8-21    F       yes     61
    47182      2021-2-12    M       no      51
    58993      2020-2-11    M       no      36
    15324      2021-9-1     F       no      45
    80641      2020-5-4     F       yes     47
    74089      2020-9-6     F       yes     60
    49963      2020-7-8     F       yes     64
    61600      2021-7-22    M       no      44
    98056      2021-1-14    M       yes     46
    50223      2021-3-25    F       no      30
    37704      2021-6-16    F       yes     25
    63801      2020-1-2     F       yes     46
    86382      2021-8-13    F       yes     57
    98371      2020-3-23    F       no      52
    43193      2021-4-23    F       yes     40
    18740      2020-6-1     M       no      36
    48615      2020-5-21    M       no      35
    68452      2021-9-10    M       no      46
    94636      2020-6-11    F       no      59
    17135      2021-7-5     M       no      53

Inactive Members:


Membership No  Date Joined  Gender  Active  Age
    86171      2021-2-12    F       no      63
    64886      2020-6-16    M       no      30
    40310      2020-3-4     F       no      21
    37227      2020-5-17    F       no      55

Performing Cleaning Operation:_________________________


Active Members:


Membership No  Date Joined  Gender  Active  Age
    94597      2020-8-21    F       yes     61
    80641      2020-5-4     F       yes     47
    74089      2020-9-6     F       yes     60
    49963      2020-7-8     F       yes     64
    98056      2021-1-14    M       yes     46
    37704      2021-6-16    F       yes     25
    63801      2020-1-2     F       yes     46
    86382      2021-8-13    F       yes     57
    43193      2021-4-23    F       yes     40

Inactive Members:


Membership No  Date Joined  Gender  Active  Age
    86171      2021-2-12    F       no      63
    64886      2020-6-16    M       no      30
    40310      2020-3-4     F       no      21
    37227      2020-5-17    F       no      55
    47182      2021-2-12    M       no      51
    58993      2020-2-11    M       no      36
    15324      2021-9-1     F       no      45
    61600      2021-7-22    M       no      44
    50223      2021-3-25    F       no      30
    98371      2020-3-23    F       no      52
    18740      2020-6-1     M       no      36
    48615      2020-5-21    M       no      35
    68452      2021-9-10    M       no      46
    94636      2020-6-11    F       no      59
    17135      2021-7-5     M       no      53

Files is stored in .txt format

## To generate random data based, csv file, delimiter is Tab.

In [7]:
memReg = 'memb1.csv'
exReg = 'inact1.csv'
fee =('yes','no')
act =('F','M')

def genFiles(current,old):
    with open(current,'w+') as writefile: 
        writefile.write('Membership No\tDate Joined\tActive\tGender\tAge  \n')
        data = "{:^13}\t{:<11}\t{:<6}\t{:<6}\t{:<3}\n"

        for rowno in range(20):
            date = str(rnd(2015,2020))+ '-' + str(rnd(1,12))+'-'+str(rnd(1,25))
            writefile.write(data.format(rnd(10000,99999),date,fee[rnd(0,1)],act[rnd(0,1)],rnd(20,45)))


    with open(old,'w+') as writefile: 
        writefile.write('Membership No\tDate Joined\tActive\tGender\tAge  \n')
        data = "{:^13}\t{:<11}\t{:<6}\t{:<6}\t{:<3}\n"
        for rowno in range(3):
            date = str(rnd(2015,2020))+ '-' + str(rnd(1,12))+'-'+str(rnd(1,25))
            writefile.write(data.format(rnd(10000,99999),date,fee[1],act[rnd(0,1)],rnd(20,45)))


genFiles(memReg,exReg)

readFiles(memReg,exReg)
    
cleanFiles(memReg,exReg)

print("Performing Cleaning Operation:" + 25*'_' + '\n\n')

readFiles(memReg,exReg)

Active Members:


Membership No	Date Joined	Active	Gender	Age
    77282    	2015-5-5   	yes   	M     	41
    53586    	2015-4-1   	yes   	F     	25
    78206    	2015-12-12 	no    	F     	24
    83112    	2019-8-9   	no    	F     	20
    12094    	2015-10-22 	yes   	F     	39
    66259    	2017-9-3   	no    	F     	22
    19868    	2020-7-25  	no    	F     	34
    15711    	2017-12-4  	no    	F     	37
    35677    	2017-6-11  	no    	M     	38
    34493    	2016-6-19  	yes   	F     	45
    67568    	2017-3-11  	yes   	F     	26
    19110    	2016-3-7   	no    	M     	27
    39966    	2020-10-19 	no    	F     	29
    37062    	2018-1-10  	no    	M     	23
    41546    	2019-9-15  	no    	M     	37
    22316    	2017-7-11  	yes   	M     	26
    14758    	2018-1-13  	no    	M     	22
    49570    	2019-12-11 	yes   	M     	27
    60064    	2017-9-7   	yes   	M     	33
    38002    	2015-12-3  	no    	M     	42

Inactive Members:


Membership No	Date Joined	Active	Gender	Age
    56482    	2017-11-4  	no    	F     	39
    76822    	2017-10-6  	no    	F     	39
    89529    	2017-9-21  	no    	F     	34

Performing Cleaning Operation:_________________________


Active Members:


Membership No	Date Joined	Active	Gender	Age
    77282    	2015-5-5   	yes   	M     	41
    53586    	2015-4-1   	yes   	F     	25
    12094    	2015-10-22 	yes   	F     	39
    34493    	2016-6-19  	yes   	F     	45
    67568    	2017-3-11  	yes   	F     	26
    22316    	2017-7-11  	yes   	M     	26
    49570    	2019-12-11 	yes   	M     	27
    60064    	2017-9-7   	yes   	M     	33

Inactive Members:


Membership No	Date Joined	Active	Gender	Age
    56482    	2017-11-4  	no    	F     	39
    76822    	2017-10-6  	no    	F     	39
    89529    	2017-9-21  	no    	F     	34
    78206    	2015-12-12 	no    	F     	24
    83112    	2019-8-9   	no    	F     	20
    66259    	2017-9-3   	no    	F     	22
    19868    	2020-7-25  	no    	F     	34
    15711    	2017-12-4  	no    	F     	37
    35677    	2017-6-11  	no    	M     	38
    19110    	2016-3-7   	no    	M     	27
    39966    	2020-10-19 	no    	F     	29
    37062    	2018-1-10  	no    	M     	23
    41546    	2019-9-15  	no    	M     	37
    14758    	2018-1-13  	no    	M     	22
    38002    	2015-12-3  	no    	M     	42

Files stored in .csv format and seperated by \t

## Using delimiter to seperate data by \t.

In [8]:
import pandas as pd

df= pd.read_csv('inact1.csv', sep = '\t', engine = 'python')
print(df.head(3))

   Membership No  Date Joined  Active  Gender  Age
0          56482  2017-11-4    no      F          39
1          76822  2017-10-6    no      F          39
2          89529  2017-9-21    no      F          34

In [9]:
print(df.columns)

Index(['Membership No', 'Date Joined', 'Active', 'Gender', 'Age  '], dtype='object')

### DataFrame status

In [10]:
df['Membership No'].max()

89529

In [11]:
df['Active'].unique()

array(['no    '], dtype=object)

In [12]:
df1= pd.read_csv('memb1.csv', sep = '\t', engine = 'python')
print(df1.head(3))

   Membership No  Date Joined  Active  Gender  Age
0          77282  2015-5-5     yes     M          41
1          53586  2015-4-1     yes     F          25
2          12094  2015-10-22   yes     F          39

In [13]:
df1.tail(5)

   Membership No  Date Joined  Active  Gender  Age
3          34493  2016-6-19    yes     F          45
4          67568  2017-3-11    yes     F          26
5          22316  2017-7-11    yes     M          26
6          49570  2019-12-11   yes     M          27
7          60064  2017-9-7     yes     M          33

In [14]:
df1.groupby('Gender').count()

        Membership No  Date Joined  Active  Age
Gender
F                   4            4       4      4
M                   4            4       4      4